img.about-image {
  border-radius: 50% !important;
  object-fit: cover !important;   /* Prevents the image from squishing */
}

.about-links .about-link {
  border: none !important;
  background-color: transparent !important;
}